---
---
@import "{{ site.theme }}";

// Minimalist Theme overrides.

section {
  float: none !important;
  width: 960px !important;
}

header {
  display: none;
}

footer {
  position: static !important;
}
