---
---
@import "{{ site.theme }}";

// Minimalist Theme overrides.

section {
  float: none !important;
  max-width: 960px !important;
  width: 100% !important;
}

header {
  display: none;
}

footer {
  position: static !important;
}

a:hover, a:focus {
  color: unset;
  font-weight: unset !important;
  text-decoration: underline;
}
